.client-page {
  background-color: #F6F6F6;
  overflow-y: auto;
  padding: 48px 46px;
  box-sizing: border-box;

  .limit {
    color: #C1C4CB;
  }

  .el-icon-back {
    margin-right: 20px;
  }

  &-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: visible;
    margin-top: 48px;

    .left-container {
      margin-right: 48px;
    }
  }

  .order-container {
    width: 812px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(40, 43, 52, 0.07);
    border-radius: 12px;
    padding: 40px 48px;
    box-sizing: border-box;
    margin-bottom: 48px;
  }

  .common,
  .address {
    .title {
      margin-bottom: 40px;
    }
    .container-inputs {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
      .el-col:not(:last-child) {
        margin-right: 24px;
      }

      .status {
        .el-tag.el-tag--success {
          height: 40px;
          display: inline-flex;
          align-items: center;
        }

        .status-container {
          display: flex;
          .status-tag {
            margin-right: 16px;
          }
        }
      }
    }
  }

  .address {
    textarea {
      height: 80px;
      resize: none;
    }

    .address-title {
      display: inline-block;
      margin-bottom: 18px;
    }

    .main-item:not(:last-child) {
      margin-bottom: 44px;
    }
  }

  .orders {
    .title {
      margin-bottom: 16px;
    }
  }

  .sub-title {
    color: #919398;
    margin-bottom: 8px;
  }

  .el-table td {
    .cell {
      padding-right: 16px;
      padding-left: 16px;
      word-break: keep-all;
    }
  }

  .el-table th {
    .cell {
      padding-right: 16px;
      padding-left: 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .el-table td:first-child,
  .el-table td:last-child,
  .el-table th:first-child,
  .el-table th:last-child {
    .cell {
      padding: 0;
    }
  }

  .el-input.is-disabled .el-input__inner,
  .el-textarea.is-disabled .el-textarea__inner {
    color: #292B33;
  }
}