.client-page {
  .common,
  .address {
    .title {
      margin-bottom: 40px;
    }
    .container-inputs {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
      .el-col:not(:last-child) {
        margin-right: 24px;
      }

      .status {
        .el-tag {
          height: 40px;
          display: inline-flex;
          align-items: center;
        }

        .status-container {
          display: flex;
          .status-tag {
            margin-right: 16px;
          }
        }
      }
    }
  }

  .address {
    textarea {
      height: 80px;
      resize: none;
    }

    .address-title {
      display: inline-block;
      margin-bottom: 18px;
    }

    .main-item:not(:last-child) {
      margin-bottom: 44px;
    }
  }

  .orders {
    .title {
      margin-bottom: 16px;
    }
  }

  .el-table td {
    .cell {
      padding-right: 16px;
      padding-left: 16px;
      word-break: keep-all;
    }
  }

  .el-table th {
    .cell {
      padding-right: 16px;
      padding-left: 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .el-table td:first-child,
  .el-table td:last-child,
  .el-table th:first-child,
  .el-table th:last-child {
    .cell {
      padding: 0;
    }
  }

  .el-input.is-disabled .el-input__inner,
  .el-textarea.is-disabled .el-textarea__inner {
    color: #292B33;
  }
}