.catalog-page {
  .image {
    border-radius: 4px;
    height: 44px;
    width: 127px;
    object-fit: cover;
  }

  .limit {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding-left: 12px;
    color: #C1C4CB;
  }
   .el-table .warning-row {
    background: #F6F6F6;
     &::v-deep .el-table__indent {
       padding-left: 0 !important;
     }
  }
}

.position-modal {
  width: 411px !important;
  height: 248px;
  border-radius: 8px !important;
  box-sizing: border-box;

  .el-message-box__content {
    padding: 0 48px !important;

    .el-message-box__container {
      text-align: left;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #292B33;
    }

    .el-message-box__input {
      padding-top: 24px;
      padding-bottom: 4px;
    }
  }

  .el-message-box__btns {
    padding: 0;
  }

  input {
    width: 314px !important;
  }
}

.cancel {
  display: none !important;
}

.true {
  width: 314px;
  height: 40px;
  font-size: 14px;
  line-height: 20px;
}

