.colors-page {
  .row-color {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .item {
      margin-right: 8px;
      margin-top: 2px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
    }
  }


}