.colors-page {
  .row-color {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .item {
      margin-right: 8px;
    }

    .item .el-badge__content.is-dot {
      margin-top: 18px;
      width: 14px;
      height: 14px;
    }
  }
}