.content-page {
  .title {
    margin-bottom: 40px;
  }

  .main-item {
    width: 100%;
  }

  .container-inputs {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    .el-col:not(:last-child) {
      margin-right: 24px;
    }

    .status-container {
      max-width: 162px;
      box-sizing: border-box;
    }

    .el-select {
      width: 100%;
    }

    .status {
      display: flex;
      .status-tag {
        margin-right: 16px;
      }
      .el-tag {
        height: 40px;
        display: inline-flex;
        align-items: center;
      }
    }

    .data-image-content {
      .upload-image {
        display: flex;
        flex-wrap: wrap;
      }

      .image-container {
        position: relative;
        height: 250px;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;

        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          border-radius: 6px;
        }

        .delete-image {
          width: 18px;
          height: 18px;
          line-height: 4px;
          font-weight: 300;
          text-align: center;
          padding: 3px !important;
          position: absolute;
          right: -8px;
          top: -8px;
          border: 2px solid #FFFFFF;
          box-sizing: border-box;
          span {
            display: block;
            width: 6px;
            height: 6px;
          }
        }
      }

      .image-uploader {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .horizontal {
          width: 522px !important;
          margin-right: 24px;
        }

        .vertical {
          width: 170px;
        }

        .upload-image .el-upload {
          width: 100%;
          height: 250px;
          border: 1px solid #DDDFE5;
          border-radius: 4px;
          font-weight: 500;
          color: #919398;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          span {
            line-height: 40px;
          }
        }
      }
    }
  }

  .el-table {
    td {
      .cell {
        padding-right: 16px;
        padding-left: 16px;
        word-break: keep-all;
      }
    }

    th {
      .cell {
        padding-right: 16px;
        padding-left: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    td:first-child,
    td:last-child,
    th:first-child,
    th:last-child {
      .cell {
        padding: 0;
      }
    }
  }

  .el-input.is-disabled .el-input__inner,
  .el-textarea.is-disabled .el-textarea__inner {
    color: #292B33;
  }

  .container-article {
    width: 100%;
    textarea {
      resize: none;
    }

    .content-block {
      .el-col {
        margin-bottom: 48px;
      }
      .btn-plus {
        display: block;
        margin: 0 auto;
      }

      .btn-delete {
        display: block;
        margin: 0 0 24px auto;
      }

      &.annotation {
        .el-textarea .el-textarea__inner {
          height: 84px;
        }

        .btn-delete {
          display: none;
        }
      }

      &.image {
        .el-image {
          height: 297px;
          width: 716px;
          border-radius: 6px;
        }
      }
    }
  }
}
