@import './normalize.css';
@import './elements-io/theme/elements-theme.css';
@import './text.scss';

html,
body {
  font-family: 'SF Pro Text', sans-serif;
  letter-spacing: 0em;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  font-stretch: normal;
  direction: ltr;
  text-align: left;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  height: 100%;
}

#app {
  height: 100%;
}

.page-header {
  height: 80px;
  margin: 0 48px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #292B33;

  &-second {
    margin: 0 48px;
    height: 96px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #292B33;
  }
}

.content-header {
  height: 60px;
  margin: 0 48px;
  display: flex;
  align-items: center;

  .el-input {
    max-width: 300px;
    margin-right: 25px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

.content {
  margin: 0 48px;
}