.color-page {
  .color-container {
    height: 412px;
    margin-top: 48px;

    .el-col {
      width: 100%;
      margin-bottom: 24px;

      .sub-title {
        color: #919398;
        margin-bottom: 8px;
      }
    }

    .title {
      margin-bottom: 40px;
    }

    .el-color-picker__trigger {
       height: 0;
       opacity: 0;
    }

    .palette {
      display: block !important;
      top: 5px;

      .el-color-dropdown__btns {
        display: none;
      }
    }
  }
}